# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
yarn.lock
pnpm-lock.yaml

# Build Output
dist/
!.nuxt/
build/
.cache/
.output/

# Temp Files
temp/
tmp/
*.tmp
*.swp

# Vue Specific
.vuepress/dist/
.vscode/
public/
.DS_Store

# Vite
.vite
.vitest/

# IDE-specific files
.idea/
.vscode/
.history/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Test Coverage
coverage/

# Optional
.env
.env.local
.env.*.local

# Nuxt.js specific
.nuxt/
output/