.logo {
  width: 40px;
  height: 40px;
  background: url('/assets/images/logo-light.png') no-repeat 0 0;
  background-size: contain;

  &.dark {
    background: url('/assets/images/logo-dark.png') no-repeat 0 0;
    background-size: contain;
  }
}
