.wrapper {
  height: 100vh;
  background-color: var(--color-gray-50);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-gray-600);
}

a {
  color: var(--color-gray-600);
}

h1,
h2,
h3 {
  color: var(--color-gray-900);
}
