.menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  &.mobile {
    justify-content: flex-start;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;

      li {
        width: 100%;
      }

      a {
        width: 100%;
        display: block;
        padding-block: 20px;
      }
    }
  }
}

.menuList {
  gap: 20px;
}

.hMenu {
  align-items: flex-start;
  justify-content: flex-start;
}

.vMenu {
  justify-content: flex-start;
  align-items: flex-start;
}

.blMenu {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px 30px;

  li {
    width: 40%;
    justify-content: flex-start;
    display: flex;
  }
}

.iconBlock {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-white);
}

.iconWithoutBlock {
  width: 20px;
  height: 20px;
  background: none;
}

.link {
  gap: 10px;
  align-items: flex-end;
  text-transform: capitalize;
}
